.phone_123 .PhoneInputInput {
    border: none;
    outline: none;
}

.header_sign_up {
    height: 100vh;
}

.tab-content {
    border: none
}

.in_box {
    border: none
}

.show_text_box {
    display: flex;
    align-items: center;
    border: none;
    min-height: 80px;
    padding: 10px;
    box-sizing: border-box;
}

#show-all-fares .owl-item {
    height: 91px;
    border: 1px solid #D8D8D8;
}

/* Adjust these styles to match your design */
.pagination_123 ul {
    display: flex;
    gap: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination_123 li {
    display: inline;
}

.pagination_123 a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #21B4E2;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination_123 a:hover {
    background-color: #e0e0e0;
}

.pagination_123 .active a {
    background-color: #21B4E2;
    color: white;
    border: 1px solid #D8D8D8;
}

.pagination_123 .page-link {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #21B4E2;
}

.pagination_123 .page-item {
    display: inline;
}

.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 265px;
}

.social_midea {
    text-align: center;
    padding: 20px 0 0 0;
    margin: 0;
}

.social_midea li {
    display: inline-block;
    padding: 0 20px 0 0;
    margin: 0;
}

.social_midea li:last-child {
    padding: 0;
}

.social_midea li a {
    display: flex;
    width: 50px;
    height: 50px;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;
    color: #000;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 25px;
}

.social_midea li a i {
    margin: 0 auto;
    text-align: center;
}

.or_text {
    text-align: center;
    margin: 40px 0 0 0;
    border-top: 1px solid #000;
}

.or_text h4 {
    font-size: 18px;
    color: #000;
    line-height: 20px;
    padding: 0 10px;
    position: relative;
    display: block;
    background: #90a8c0;
    width: 50px;
    margin: 0 auto;
    margin-top: -13px;
}

.normal_auth {
    border: 1px solid red;
}